<header class="page-header">
  <h1>Login</h1>
</header>

<%= form_tag '/login' do %>
  <span class="user-auth-form-label"> Email: </span> 
    <%= text_field_tag :email %> <br>
  <span class="user-auth-form-label"> Password: </span> 
    <%= password_field_tag :password %>
  <div class="user-auth-form-button"> <%= submit_tag "Login" %> </div>
<% end %>